---
import Layout from '../layouts/Layout.astro';
import * as osu from 'osu-api-v2-js';
import db from '../lib/mongodb';
import type { User } from '../types/user';

const token_string = Astro.cookies.get('osuturkiye-token')?.value;

if (!token_string) {
    return Astro.redirect('/login');
}

const token = JSON.parse(token_string);
const osu_api = new osu.API(token);
const osuUser = await osu_api.getResourceOwner();

const users = db.collection<User>('users');
const user = await users.findOne({ _id: osuUser.id.toString() });
---

<Layout>
    <div class="grid grid-cols-1 grid-rows-1 gap-x-4 gap-y-4 w-[97%] mx-auto">
        <div class="col-start-1 col-end-1 row-start-1 row-end-1">
            <section class=" bg-[#202020] rounded-xl p-6 mb-6">
                <div class="flex items-center">
                    <img src={osuUser.avatar_url} alt={osuUser.username} class="rounded-full w-24 h-24">
                    <div class="ml-4">
                        <h1 class="text-2xl font-bold">{osuUser.username}</h1>
                        <p>ID: {osuUser.id}</p>
                    </div>
                </div>
                <div class="mt-4">
                    {user && user.discord_id ? (
                        <div>
                            <h2 class="text-xl font-bold">Discord Account</h2>
                            <p>ID: {user.discord_id}</p>
                            <p>Username: {user.discord_username}</p>
                        </div>
                    ) : (
                        <a href="/api/discord/login" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                            Link Discord Account
                        </a>
                    )}
                </div>
            </section>
        </div>  
    </div>
</Layout>
